@import url(/css/reset.css);
body {
  font-family: 'Open Sans', 'Playfair Display', sans-serif; }

@media (max-width: 820px) {
  body.lock {
    overflow: hidden; } }
a {
  text-decoration: none; }

.container {
  max-width: 1210px;
  padding: 0 20px;
  height: auto;
  margin: 0 auto;
  position: relative; }
  .container-bg {
    position: absolute;
    display: flex;
    width: 90%;
    height: 100vh;
    min-height: 950px; }
    .container-bg span {
      display: block;
      width: 1px;
      height: 100%;
      background: #F2F2F2; }
    .container-bg span.container-bg_2 {
      margin-left: 9.5%; }
    .container-bg span.container-bg_3 {
      margin-left: 17%; }
    .container-bg span.container-bg_4 {
      margin-left: 14.5%; }
    .container-bg span.container-bg_5 {
      margin-left: 9%; }
    .container-bg span.container-bg_6 {
      margin-left: 9.5%; }
    .container-bg span.container-bg_7 {
      margin-left: 17%; }
    .container-bg span.container-bg_8 {
      margin-left: 14.5%; }

.button {
  line-height: 50px;
  background-color: #E8BF5D;
  border-radius: 1.5em;
  transition: 0.2s linear; }
  .button a {
    color: #111111;
    padding: 0 45px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    height: 100%; }

.header {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 6; }
  .header-body {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  .header-logo {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
    position: relative;
    z-index: 6; }
    .header-logo a {
      color: #111111; }
  .header-nav {
    overflow: auto;
    position: relative;
    z-index: 6; }
    .header-nav ul {
      display: flex;
      align-items: center;
      justify-content: right; }
      .header-nav ul li {
        padding: 0 15px;
        height: 100%;
        box-sizing: border-box;
        position: relative; }
        .header-nav ul li a {
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 45px;
          color: #111111;
          display: inline-block;
          box-sizing: border-box;
          transition: 0.2s linear; }
      .header-nav ul a::after {
        content: '';
        position: absolute;
        display: none;
        z-index: 17;
        width: 100%;
        margin-left: -15px;
        height: 5px;
        bottom: 0;
        background-color: #E8BF5D; }
      .header-nav ul a:hover::after,
      .header-nav ul a.active::after {
        display: block; }
  .header-burger {
    display: none; }
  .header-burger.active span {
    transform: scale(0); }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px; }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px; }
  @media (max-width: 820px) {
    .header-burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 6; }
    .header-burger span {
      position: absolute;
      background-color: #111111;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s; }
    .header-burger::before, .header-burger::after {
      content: '';
      background-color: #111111;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s; }
    .header-burger::before {
      top: 0; }
    .header-burger::after {
      bottom: 0; }
    .header-nav {
      position: fixed;
      z-index: 4;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #adadad;
      transition: all 0.3s ease 0s; }
      .header-nav ul {
        flex-direction: column;
        font-size: 50px;
        font-weight: 700; }
    .header-nav.active {
      top: 110px; } }

.header::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 5; }

@media (max-height: 500px) {
  .header.active::before {
    background-color: transparent;
    width: 0;
    height: 0; }

  .header-nav.active {
    top: 0; }

  .header-logo.active {
    opacity: 0; } }
.intro {
  height: 100vh; }
  .intro-body {
    height: 100%;
    width: 100%; }
    .intro-body img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .intro-block {
    width: 50%;
    height: 100px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15%;
    left: 50%;
    margin-left: -25%;
    border-left: 2px solid #E8BF5D;
    padding-left: 10px; }
    .intro-block p {
      font-size: 31px;
      font-weight: 300;
      line-height: 36px;
      color: #fff; }
      .intro-block p span {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 65px;
        line-height: 45px; }
  @media (max-width: 1300px) {
    .intro-block {
      width: 80%;
      margin-left: -40%; } }
  @media (max-width: 800px) {
    .intro-block p {
      font-size: 20px; }
      .intro-block p span {
        font-size: 33px; } }
  @media (max-width: 520px) {
    .intro-button {
      position: absolute;
      bottom: -58%;
      left: 50%;
      margin-left: -90px; } }

.about {
  width: 100%;
  height: 100vh;
  min-height: 950px;
  position: relative; }
  .about-body {
    height: 100vh;
    min-height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute; }
  .about-cont {
    width: 100%;
    display: flex;
    color: #111111;
    font-family: 'Playfair Display', serif; }
    .about-cont h3 {
      font-size: 21px;
      font-weight: 400;
      margin-bottom: 30px; }
  .about-history {
    width: 50%;
    padding-right: 3%; }
    .about-history ul li {
      display: flex;
      align-items: center;
      margin-bottom: 45px;
      font-family: 'Open Sans', sans-serif; }
      .about-history ul li p.about-year {
        font-weight: 700;
        width: 15%;
        margin-right: 5%;
        letter-spacing: 1.5px; }
      .about-history ul li p.about-descr {
        width: 75%;
        font-size: 16px;
        line-height: 21px; }
  .about-exp {
    width: 50%; }
    .about-exp p {
      max-width: 460px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 31px;
      color: #666666; }
  @media (max-width: 800px) {
    .about-cont {
      flex-direction: column; }
      .about-cont h3 {
        font-size: 18px; }
    .about-history, .about-exp {
      width: 100%;
      padding: 0; }
    .about-history p.about-year {
      font-size: 14px; }
    .about-history ul li p.about-descr {
      font-size: 12px; } }
  @media (max-width: 450px) {
    .about .about-history ul li p.about-year {
      width: 18%; }
    .about .about-history ul li p.about-descr {
      width: 72%; } }

.title {
  padding: 0 20px;
  max-width: 765px;
  border-left: 2px solid #E8BF5D;
  font-family: 'Playfair Display', serif;
  margin-bottom: 100px; }
  .title h2 {
    margin-bottom: 25px;
    color: #111111;
    font-weight: 400;
    font-size: 31px; }
  .title p {
    font-size: 21px;
    line-height: 31px;
    color: #666666; }

@media (max-width: 450px) {
  .title h2 {
    margin-bottom: 0;
    padding: 15px 0; }
  .title p {
    display: none; } }
@media (max-width: 800px) {
  .title h2 {
    font-size: 25px; }
  .title p {
    font-size: 16px; } }
.practis {
  width: 100%;
  height: 100vh;
  min-height: 950px;
  position: relative;
  background: #111111;
  color: #fff; }
  .practis .container-bg span {
    background: #1D1D1D; }
  .practis-body {
    height: 100vh;
    min-height: 950px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5; }
  .practis .title h2 {
    color: #fff; }
  .practis .title p {
    color: #BDBDBD; }
  .practis-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px; }
  .practis-item {
    width: 50%;
    margin: 0 70px 70px 0;
    display: flex;
    justify-content: space-between;
    max-width: 500px; }
  .practis-icon {
    width: 15%;
    min-width: 45px;
    margin-right: 5%;
    color: #E8BF5D;
    font-size: 45px; }
  .practis-text {
    width: 80%;
    font-size: 14px;
    line-height: 25px; }
    .practis-text h3 {
      margin-bottom: 30px;
      font-family: 'Playfair Display', serif;
      font-size: 21px; }
  @media (max-width: 1500px) {
    .practis {
      height: auto; }
      .practis .container-bg {
        height: 100%;
        min-height: auto; }
      .practis-body {
        height: auto;
        min-height: auto;
        padding: 17% 0; } }
  @media (max-width: 1200px) {
    .practis-item {
      width: 85%;
      max-width: none; } }
  @media (max-width: 550px) {
    .practis-text {
      width: 70%; }
      .practis-text h3 {
        font-size: 16px; }
      .practis-text p {
        font-size: 13px; }
    .practis-content {
      justify-content: space-between; }
    .practis-item {
      margin-right: 0; } }

.meet-body {
  height: 100vh;
  min-height: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 5; }
.meet-content {
  display: flex;
  justify-content: space-between;
  width: 100%; }
.meet-item {
  width: 23%; }
.meet-img {
  margin-bottom: 25px; }
  .meet-img img {
    width: 100%;
    object-fit: cover; }
.meet-name {
  font-size: 21px;
  line-height: 31px;
  color: #111111; }
.meet-pos {
  font-size: 14px;
  line-height: 24px;
  color: #666666; }
@media (max-width: 1500px) {
  .meet {
    height: auto; }
    .meet .container-bg {
      height: 100%;
      min-height: auto; }
    .meet-body {
      height: auto;
      min-height: auto;
      padding: 17% 0; } }
@media (max-width: 550px) {
  .meet-content {
    flex-wrap: wrap; }
  .meet-item {
    width: 47%;
    margin-bottom: 6%; } }

.fback {
  width: 100%;
  height: 100vh;
  min-height: 950px;
  position: relative;
  background: url(/img/FbackBg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  color: #fff; }
  .fback .container-bg span {
    background: #282828; }
  .fback .fback-title h2 {
    color: #fff; }
  .fback .fback-title p {
    color: #BDBDBD; }
  .fback-body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .fback-cont {
    display: flex;
    width: 100%; }
  .fback-img {
    position: relative;
    box-shadow: 20px 20px 0px 0px #E8BF5D;
    margin-right: 100px;
    margin-bottom: 50px; }
    .fback-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .fback-text {
    width: 60%;
    position: relative; }
    .fback-text p.fback-q {
      font-family: 'Playfair Display', serif;
      position: absolute;
      top: 10px;
      left: -45px;
      color: #555555;
      font-size: 97px; }
    .fback-text p {
      font-size: 14px;
      line-height: 31px;
      margin-bottom: 40px;
      width: 100%; }
    .fback-text h3 {
      font-size: 14px;
      line-height: 24px; }
      .fback-text h3 span {
        font-family: 'Playfair Display', serif;
        font-size: 21px;
        line-height: 31px; }
  .fback-slider {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    left: 50%;
    margin-left: -5px;
    margin-top: 10%; }
  .fback-slider::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -4px;
    right: 15px; }
  .fback-slider:after {
    content: '';
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 15px; }
  @media (max-width: 1500px) {
    .fback {
      height: auto; }
      .fback .container-bg {
        height: 100%;
        min-height: auto; }
      .fback-body {
        height: auto;
        min-height: auto;
        padding: 17% 0; } }
  @media (max-width: 800px) {
    .fback-cont {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .fback-img {
      width: 60%;
      margin: 0 0 15% 0; } }
  @media (max-width: 450px) {
    .fback-img {
      box-shadow: 10px 10px 0px 0px #E8BF5D; }
    .fback-text p {
      font-size: 12px;
      line-height: 21px; } }

.pub-body {
  height: 100vh;
  min-height: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 5; }
.pub-title {
  margin-bottom: 40px; }
.pub-cont {
  display: flex;
  width: 100%;
  justify-content: space-between; }
.pub-item {
  width: 30%;
  border-bottom: 3px solid #E8BF5D;
  padding-bottom: 30px; }
.pub-img {
  width: 100%;
  margin-bottom: 20px; }
  .pub-img img {
    width: 100%;
    object-fit: cover; }
.pub-name {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .pub-name h3 {
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    line-height: 31px;
    color: #111111; }
  .pub-name p.pub-auth {
    display: inline-block;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #666666; }
    .pub-name p.pub-auth span {
      font-style: normal;
      font-weight: 600;
      color: #111111; }
  .pub-name p.pub-date {
    display: inline-block;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #666666; }
.pub-text {
  font-size: 14px;
  line-height: 31px;
  color: #666666;
  margin-bottom: 20px; }
.pub-soc {
  display: flex;
  width: 100%;
  justify-content: space-between; }
.pub-comm a, .pub-share a {
  font-size: 16px;
  color: #111111;
  position: relative;
  transition: 0.2s linear; }
.pub-comm a:hover, .pub-share a:hover {
  color: #666666; }
@media (max-width: 1500px) {
  .pub {
    height: auto; }
    .pub .container-bg {
      height: 100%;
      min-height: auto; }
    .pub-body {
      height: auto;
      min-height: auto;
      padding: 17% 0; } }
@media (max-width: 1000px) {
  .pub-title {
    margin-bottom: 100px; }
  .pub-cont {
    flex-direction: column;
    align-items: center; }
  .pub-item {
    width: 70%;
    margin-bottom: 150px; } }

.ask {
  width: 100%;
  height: 100vh;
  min-height: 950px;
  position: relative;
  background: #111111;
  color: #fff; }
  .ask .container-bg span {
    background: #1D1D1D; }
  .ask-body {
    height: 100vh;
    min-height: 950px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5; }
  .ask-title h2 {
    color: #fff; }
  .ask-title p {
    color: #BDBDBD; }
  .ask-cont {
    display: flex;
    width: 100%; }
  .ask-ques {
    width: 50%;
    margin-right: 5%; }
    .ask-ques li {
      border-bottom: 1px solid #E8BF5D; }
      .ask-ques li a {
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff; }
        .ask-ques li a p {
          transition: 0.1s linear;
          padding-right: 10px; }
      .ask-ques li a i.fa-plus {
        display: block; }
      .ask-ques li a i.fa-minus {
        display: none; }
      .ask-ques li a.active p {
        color: #E8BF5D; }
      .ask-ques li a.active i.fa-plus {
        display: none; }
      .ask-ques li a.active i.fa-minus {
        display: block; }
      .ask-ques li a:hover p {
        color: #E8BF5D; }
  .ask-text {
    width: 35%;
    background: #E8BF5D;
    color: #111111;
    padding: 40px;
    font-size: 14px;
    line-height: 31px;
    font-weight: 600; }
    .ask-text p {
      display: none; }
    .ask-text .active {
      display: block; }
  @media (max-width: 1200px) {
    .ask {
      height: auto; }
      .ask .container-bg {
        height: 100%;
        min-height: auto; }
      .ask-body {
        height: auto;
        min-height: auto;
        padding: 17% 0; } }
  @media (max-width: 1200px) {
    .ask-body {
      align-items: start; }
    .ask-cont {
      flex-direction: column;
      align-items: center; }
    .ask-item {
      width: 70%;
      margin-bottom: 50px;
      margin-right: 0; } }
  @media (max-width: 500px) {
    .ask-ques {
      width: 90%; } }

.cont-body {
  height: 100vh;
  min-height: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 5; }
.cont-cont {
  width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 5%;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.15);
  background: #fff;
  display: flex; }
.cont-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 5%; }
  .cont-form input {
    font-size: 14px;
    font-style: italic;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #D6D6D6;
    height: 60px;
    color: #838383; }
  .cont-form input::placeholder {
    font-size: 14px;
    font-style: italic;
    color: #D6D6D6; }
  .cont-form .cont-mass {
    font-size: 14px;
    font-style: italic;
    color: #838383;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #D6D6D6;
    height: 60px;
    padding-top: 30px;
    resize: none; }
  .cont-form .cont-mass::placeholder {
    font-family: 'Open Sans', 'Playfair Display', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #D6D6D6; }
  .cont-form .cont-button {
    width: 190px;
    margin-top: 30px; }
.cont-map {
  position: relative;
  bottom: 20px;
  left: 20px;
  box-shadow: -20px 20px 0 0 #E8BF5D; }
  .cont-map img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
@media (max-width: 1500px) {
  .cont {
    height: auto; }
    .cont .container-bg {
      height: 100%;
      min-height: auto; }
    .cont-body {
      height: auto;
      min-height: auto;
      padding: 17% 0; } }
@media (max-width: 1000px) {
  .cont-body {
    align-items: start; }
  .cont-title {
    margin-bottom: 50px; }
  .cont-cont {
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
    width: auto; }
  .cont-form {
    order: 1;
    width: 100%;
    padding: 0;
    margin-top: 15px;
    align-items: center; }
    .cont-form input,
    .cont-form textarea {
      width: 100%; }
  .cont-map {
    order: 0;
    margin-top: 30px;
    width: 85%; } }

.footer {
  width: 100%;
  background-color: #111111; }
  .footer-body {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b5b5b5; }
    .footer-body p {
      font-family: 'Playfair Display', sans-serif; }
    .footer-body a {
      font-family: 'Open Sans', 'Playfair Display', sans-serif;
      color: #fff; }
  .footer-soc a {
    margin-left: 20px; }
  @media (max-width: 450px) {
    .footer-body {
      flex-direction: column;
      justify-content: center; }
    .footer-soc {
      margin-top: 15px; }
      .footer-soc a {
        margin: 0 20px; } }

.fback-body {
  min-width: 0; }

.slick-slide {
  display: flex !important; }

.slider {
  min-width: 0; }
  .slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px; }
    .slider .slick-dots button {
      font-size: 0;
      width: 10px;
      height: 10px;
      padding: 0;
      margin: 0 3px;
      border: 1px solid #fff;
      box-sizing: border-box;
      border-radius: 50%;
      background: transparent;
      vertical-align: middle; }
    .slider .slick-dots .slick-active button {
      width: 15px;
      height: 15px;
      border: none;
      background: #fff; }

/*# sourceMappingURL=style.css.map */
