@import url(/css/reset.css);


body {
    font-family: 'Open Sans', 'Playfair Display', sans-serif;
}

@media(max-width:820px){
    body.lock {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

.container {
    max-width: 1210px;
    padding: 0 20px;
    height: auto;
    margin: 0 auto;
    position: relative;
    &-bg {
        position: absolute;
        display: flex;
        width: 90%;
        height: 100vh;
        min-height: 950px;
        span {
            display: block;    
            width: 1px;
            height: 100%;
            background: #F2F2F2;
   
        }
        
        span.container-bg_2 {
            margin-left: 9.5%;
        }
        span.container-bg_3 {
            margin-left: 17%;
        }
        span.container-bg_4 {
            margin-left: 14.5%;
        }
        span.container-bg_5 {
            margin-left: 9%;
        }
        span.container-bg_6 {
            margin-left: 9.5%;
        }
        span.container-bg_7 {
            margin-left: 17%;
        }
        span.container-bg_8 {
            margin-left: 14.5%;
        }
        
        
    }
    
}


//                          Header

.header {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 6;
    background: #fff;
    &-body {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
     
        
        
    }

    &-logo {
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 45px;
        position: relative;
        z-index: 6;
        a {
            color: #111111;
        }

    }

    &-nav{
        overflow: auto;
        position: relative;
        z-index: 6;
        ul{
            display: flex;
            align-items: center;
            justify-content: right;
            
                  
            li {
                padding: 0 15px;
                height: 100%;
                box-sizing: border-box;
                position: relative;
                a {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 45px;
                    color: #111111;
                    display: inline-block;
                    box-sizing: border-box;
                    
                }
                
            }
            a::after {
                content: '';
                position: absolute;
                display: none;
                z-index: 17;
                width: 100%;
                margin-left: -15px;
                height: 5px;
                bottom: 0;
                background-color: #E8BF5D;
                
            }

            a:hover::after,
            a.active::after {
                display: block;
            }            
        }
    }
    &-burger {
        display: none;
    }
    &-burger.active span {
        transform: scale(0);
    }
    &-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    &-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    @media(max-width:820px){
        
        &-burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 6;
        }
        &-burger span {
            position: absolute;
            background-color: #111111;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &-burger::before,
        &-burger::after {
            content: '';
            background-color: #111111;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }

        &-burger::before {
            top: 0;
        }

        &-burger::after {
            bottom: 0;
        }
        &-nav {
            position: fixed;
            z-index: 4;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:rgb(173, 173, 173);
            padding-top: 110px;
            transition: all 0.3s ease 0s;
            ul {
                flex-direction: column;
                font-size: 50px;
                font-weight: 700;

            }
        }
        &-nav.active {
            top: 0;
        }
    }

}

.header::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    background:#fff;
    width: 100%;
    height: 100%;
    z-index: 5;
}

//    Intro

.intro {
    height: 100vh;
    &-body {
        height: 100%;
        width: 100%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
    &-block {
        width: 50%;
        height: 100px;
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 15%;
        left: 50%;
        margin-left: -25%;
        border-left: 2px solid #E8BF5D;
        padding-left: 10px;
        p {
            font-size: 31px;
            font-weight: 300;
            line-height: 36px;
            color: #fff;
            span {
                font-family: 'Playfair Display', serif;
                font-weight: 400;
                font-size: 65px;
                line-height: 45px;
            }
        }
        .button {
            line-height: 50px;
            background-color: #E8BF5D;
            border-radius: 1.5em;
            a {
                color: #111111;
                padding: 0 45px;
                font-family: 'Playfair Display', serif;
                font-size: 16px;
                font-weight: 600;
                display: inline-block;
                height: 100%;
            }
        }
    }
    @media(max-width:1300px){
        &-block {
            width: 80%;
            margin-left: -40%;
        }
    }

    @media(max-width:800px){
        &-block {
            p {
                font-size: 20px;
                span {
                    font-size: 33px;
                }
            }
        }
    }
    @media (max-width:520px) {
        &-button {
            position: absolute;
            bottom: -58%;
            left: 50%;
            margin-left: -90px;
        }
    }
}

//     About us

.about {
    width: 100%;
    height: 100vh;
    min-height: 950px;
    position: relative;

    &-body {
        height: 100vh;
        min-height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        
        
    }
    
    &-cont {
        width: 100%;
        display: flex;
        color: #111111;
        font-family: 'Playfair Display', serif;
        h3 {
            font-size: 21px;
            font-weight: 400;
            margin-bottom: 30px;
        }
    }
    &-history {
        width: 50%;
        padding-right: 3%;
        ul{
            li{
                display: flex;
                align-items: center;
                margin-bottom: 45px;
                font-family: 'Open Sans', sans-serif;
                p.about-year {
                    font-weight: 700;
                    width: 15%;
                    margin-right: 5%;
                    letter-spacing: 1.5px;
                }
                p.about-descr {
                    width: 75%;
                    font-size: 16px;
                    line-height: 21px;
                }
            }
        }

    }
    &-exp {
        width: 50%;
        p {
            max-width: 460px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 31px;
            color: #666666;
            
        }
    }
    @media (max-width: 800px){

        &-cont {
            flex-direction: column;
            h3 {
                font-size: 18px;
            }
        }
        &-history,
        &-exp {
            width: 100%;
            padding: 0;
        }
        &-history {
            p.about-year {
                font-size: 14px;
            }
            ul li p.about-descr {
                font-size: 12px;
            }
        }
    }
    @media (max-width: 450px){
        
        .about-history ul li p.about-year {
            width: 18%;
        }
        .about-history ul li p.about-descr {
            width: 72%;
        }
    }
}

.title {
    padding: 0 20px;
    max-width: 765px;
    border-left: 2px solid #E8BF5D;
    font-family: 'Playfair Display', serif;
    margin-bottom: 100px;
    h2 {
        margin-bottom: 25px;
        color: #111111;
        font-weight: 400;
        font-size: 31px;
    }
    p {
        font-size: 21px;
        line-height: 31px;
        color: #666666;
    }

}

@media (max-width:450px) {
    .title {
        h2 {
            margin-bottom: 0;
            padding: 15px 0;
        }
        p{
            display: none;
        }
        
    }
}

@media (max-width: 800px){
    .title {
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 16px;
        }
    }
}
// Pracris

.practis {
    width: 100%;
    height: 100vh;
    min-height: 950px;
    position: relative;
    background: #111111;
    color: #fff;

    .container-bg span {
        background: #1D1D1D;
    }
    &-body {
        height: 100vh;
        min-height: 950px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 5;
        
    }

    .title {
        h2 {
            color: #fff;
        }
        p {
            color: #BDBDBD;
        }
    }
    &-content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }

    &-item {
        width: 50%;
        margin: 0 70px 70px 0;
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        
    }
    &-icon {
        width: 15%;
        min-width: 45px;
        margin-right: 5%;
        color: #E8BF5D;
        font-size: 45px;
    }
    &-text {
        width: 80%;
        font-size: 14px;
        line-height: 25px;
        h3 {
            margin-bottom: 30px;
            font-family: 'Playfair Display', serif;
            font-size: 21px;
        }
    }
    @media (max-width:1500px) {
        height: auto;
        .container-bg {
            height: 100%;
            min-height: auto;
        }
        &-body {
            height: auto;
            min-height: auto;
            padding: 17% 0;
        }
    }
    @media(max-width: 1200px){
        
        &-item {
            width: 85%;
            max-width: none;
        }
    }

    @media(max-width: 550px){
        &-text {
            width: 70%;
            h3 {
                font-size: 16px;
            }
            p {
                font-size: 13px;
            }
        }
        &-content {
            justify-content: space-between;
        }
        &-item {
            
            margin-right: 0;
        }
    }
}

// Meet

.meet {
    
    &-body {
        height: 100vh;
        min-height: 950px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 5;
        
    }
    &-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-item {
        width: 23%;
    }
    &-img {
        margin-bottom: 25px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &-name {
        font-size: 21px;
        line-height: 31px;
        color: #111111;
    }
    &-pos {
        font-size: 14px;
        line-height: 24px;
        color: #666666;
    }
    @media(max-width: 1500px){
        height: auto;
        .container-bg {
            height: 100%;
            min-height: auto;
        }
        &-body {
            height: auto;
            min-height: auto;
            padding: 17% 0;
        }
    }
    @media (max-width:550px) {
        
        &-content {
            flex-wrap: wrap;
        }
        &-item {
            width: 47%;
            margin-bottom: 6%;
        }
        
    }
}

